@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table>
        <tr>
            <th>Dage</th>
            <th>Kold ret</th> 
            <th>Varm ret</th>
        </tr>
        <tr>
            <td>Mandag</td>
            <td>Smørebrød</td> 
            <td>Boller i karry</td>
        </tr>
        <tr>
            <td>Tirsag</td>
            <td>Hummus</td> 
            <td>Kyllingfas</td>
        </tr>
        <tr>
            <td>Onsdag</td>
            <td>Pasta</td> 
            <td>Burger</td>
        </tr>
        <tr>
            <td>Torsdag</td>
            <td>Smørebrød</td> 
            <td>Suppe</td>
        </tr>
        <tr>
            <td>Fredag</td>
            <td>Kold pizza</td> 
            <td>Varm pizza</td>
        </tr>
    </table>
</div>
