@page
@model KontaktModel
@{
    ViewData["Title"] = "Kontakt";
}

<header>

</header>

<body>
    <div>
        <h1>Kantinen</h1>
    </div>
    <br>
    <div>
        <table>
            <tr>
                <td>Dag</td>
                <td>Åbnings tider</td>
            </tr>
            <tr>
                <td>Mandag</td>
                <td>08-14</td>
            </tr>
            <tr>
                <td>Tirsdag</td>
                <td>08-14</td>
            </tr>
            <tr>
                <td>Onsdag</td>
                <td>08-14</td>
            </tr>
            <tr>
                <td>Torsdag</td>
                <td>08-14</td>
            </tr>
            <tr>
                <td>Fredag</td>
                <td>08-12</td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <h3>Kontakt oplysninger</h3>
        <p>Telefon : 12 34 56 78</p>
        <p>Email : Kantinen@eaaa.dk</p>
    </div>
</body>
